<h2>Movie Details</h2>
<h3>
{{title}}
</h3>
<p>{{genre}}</p>
<p>{{plot}}</p>

{{#each cast}}
  <li>
    {{name}}<br>
    {{occupation}}<br>
    {{catchPhrase}}
  </li>
{{/each}}


<form action="/movies/{{_id}}/delete" method="POST">
  <button type="submit">Delete Movie</button>
</form>

<a href="/movies/{{_id}}/edit">edit</a>